body {
    font-family: "Inconsolata", monospace;
    color: #0d1e2d;
    overflow-x: hidden;
    
  }
  
  a {
    color: #777;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
  }
  
  h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: "Raleway", sans-serif;
  }
  
  .section {
    padding: 7rem 0;
  }
  
  .filters a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    font-family: nunito sans;
    font-size: 16px;
    left: -1;
    /* z-index: 1; */
  }
  
  .filters a:hover, .filters a:focus, .filters a:active {
    text-decoration: none;
  }
  
  .filters a:hover:before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }
  
  .filters a.active {
    color: #000;
  }
  
  .filters a.active:before {
    content: "";
    position: absolute;
    padding-left: 5px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.7rem;nav
    font-family: Montserrat;
    z-index: 1;
  }
  .button{
  
  color:black;
      background:white;
      padding: 7px 22px;
      margin: 0 0 0 15px;
      border-radius: 8px;
      border: 2px white;
      transition: all ease-in-out 0.3s;
      font-size: 13px;
      white-space: nowrap;
      z-index: 1;
  }
  .help
  {
    padding-top:40px;
    font-family:sans-serif;
    font-size:30px;
    padding-left: 115px;
    font-weight: bold;
    z-index: 1;
  }
  .tulisan{
    padding-left: 115px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top:-20px;
  }
  .buttona{
    color:white;
      background: #744FC6;
      padding: 9px 15px;
      margin: 0 0 0 15px;
      border-radius: 8px;
      border: 2px  #744FC6;
      font-family: sans-serif;
      margin-left: 115px;
  }
  .buttonb{
    color:#744fc6;
      background:#FFFFFF;
      padding: 7px 22px;
      margin: 0 0 0 15px;
      border-radius: 8px;
      border:#744fc6;
      font-family: sans-serif;
      border: 1px solid #744FC6;
      box-sizing: border-box;
  }
  .gambarpojok1
{
position: absolute;
left: -0.4%;
right: -0.1%;
top: 2.3%;
bottom: -32.8%;
width: 600px;
height: 500px;
background: linear-gradient(180deg, rgba(224, 196, 252, 0.9) 0%, rgba(144, 198, 253, 0.9) 100%);
border-radius: 30px;
transform: rotate(-20.43deg);
margin-left: 1050px;
margin-top: -200px;
z-index: 1px;
}
.gambar3{
  position: relative;
  padding-top: -1000px;
  margin-top: -400px;
  width: 370px;
  height: 200px;
  left: 0px;
  bottom: 270px;
}
.icon15{
  margin-left: 700px;
  margin-top: 170px;
}
.tulisan1
{
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 610px;
}
.boxed22{
  position: absolute;
  left: 550px;
}
.icont1
{
  position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 540px;
z-index: 1;
}
.icont3
{
  position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 630px;
z-index: 1;
}
.icont4
{
  position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 720px;
z-index: 1;
}
.icont5
{
  position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 810px;
z-index: 1;
}
.icont6
{
  position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 900px;
z-index: 1;
}
.tulis
{
  position: absolute;
left: 675px;
top: 530px;
font-family: Nunito Sans;
color: #744FC6;
font-size: 20px;
z-index: 1;
}
.tulis1{
  position: absolute;
width: 607px;
height: 20px;
left: 675px;
top: 560px;
z-index: 1;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
}
.tulis3
{
  position: absolute;
left: 675px;
top: 620px;
font-family: Nunito Sans;
color: #744FC6;
font-size: 20px;
z-index: 1;
}
.tulis4{
  position: absolute;
left: 675px;
top: 650px;
font-family: Nunito Sans;
font-size: 14px;
z-index: 1;
}
.tulis5
{
  position: absolute;
  left: 675px;
  top: 710px;
  font-family: Nunito Sans;
  color: #744FC6;
  font-size: 20px;
  z-index: 1;
}
.tulis6{
  position: absolute;
left: 675px;
top: 740px;
font-family: Nunito Sans;
font-size: 14px;
z-index: 1;
}
.tulis7
{
  position: absolute;
left: 675px;
top: 800px;
font-family: Nunito Sans;
color: #744FC6;
font-size: 20px;
z-index: 1;
}
.tulis8{
  position: absolute;
left: 675px;
top: 830px;
font-family: Nunito Sans;
font-size: 14px;
z-index: 1;
}
.tulis9
{
  position: absolute;
left: 675px;
top: 890px;
font-family: Nunito Sans;
color: #744FC6;
font-size: 20px;
z-index: 1;
}
.gambar1{
  position: absolute;
  top: 590px;
}
.tulis10{
  position: absolute;
left: 675px;
top: 920px;
font-family: Nunito Sans;
font-size: 14px;
z-index: 1;
}
.gambar15
{
  position: absolute;
width: 1010px;
height: 280px;
top: 1130px;
}
.tulis11
{
position: absolute;
width: 442px;
height: 115px;
left: 130px;
top: 1200px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 55px;
}
.tulis13
{
  position: absolute;
width: 437px;
height: 60px;
left: 680px;
top: 1215px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
}
.button7
{
  position: absolute;
width: 120px;
height: 38px;
left: 675px;
top: 1290px;
background: #744FC6;
box-shadow: 0px 10px 20px rgba(116, 79, 198, 0.25);
border-radius: 8px;
text-align: center;
line-height: 35px;
color: seashell;
font-family: sans-serif;
font-size: small;
}
.tulis14
{
  position: absolute;
left: 490px;
top: 1450px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: center;
}
.gambar16
{
  position: absolute;
width: 250px;
height: 250px;
left: 584px;
top: 1600px;
border-radius: 16px;
}
.gambar19
{
  position: absolute;
width: 1923px;
height: 620px;
left: 100px;
top: 800px;

opacity: 0.1;
}
.gambar31
{
  position: absolute;
width: 300px;
height: 100px;
left: 100px;
top: 1540px;

}
.tulisan19
{
  position: absolute;
width: 302px;
height: 55px;
left: 529px;
top: 2135px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 55px;
text-align: center;
}
.tulisan45
{
  position: absolute;
width: 376px;
height: 20px;
left: 510px;
top: 2190px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
}
.gambar44
{
  position: absolute;
width: 307px;
height:  257px;
left: 130px;
top:  2240px;
}
.gambar45
{
  position: absolute;
width: 444px;
height: 56px;
left: 680px;
top: 2239px;
}
.tulis15
{
  position: absolute;
width: 100px;
height: 20px;
left: 170px;
top: 2255px;
color:#BDBDBD;
}
.tulis16
{
  position: absolute;
width: 100px;
height: 20px;
left: 702px;
top: 2255px;
color:#BDBDBD;
}
.tulis17
{
  position: absolute;
width: 595px;
height: 402px;
left: 296px;
top: 2550px;
font-weight: bold;
}
.gambar46
{
  position: absolute;
width: 1103px;
height: 112px;
left: 408px;
top: 2019px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 8px;
}
.los{
  position: absolute;
  font-family: sans-serif;
  top: 1570px;
  color: #3B3B3B;
  left: 150px;
  font-size: smaller;
}
.mills{
  position: absolute;
  font-family: sans-serif;
  top: 1595px;
  color: #744FC6;
  left: 150px;
  font-weight: bold;
}
.los2{
  position: absolute;
  font-family: sans-serif;
  top: 1650px;
  color: #3B3B3B;
  left: 150px;
  font-size: 11px;
  line-height: 0px;
}
.tag{
  position: absolute;
  top: 1710px;
  left: 440px;
}
.bg{
  position: absolute;
width: 1210px;
height: 280px;
top: 2100px;
}
.name{
  position: absolute;
  top: 2240px;
  left: 330px;font-size: small;
  color: #BDBDBD
}
.name2{
  position: absolute;
  top: 2240px;
  left: 730px;font-size: small;
  color: #BDBDBD
}
.name3{
  position: absolute;
  top: 2295px;
  left: 330px;font-size: small;
  color: #BDBDBD
}
.box8{
  position: absolute;
  left: 300px;
  top: 2230px;
  background: #FFFFFF;
  box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
  border-radius: 16px;
}
.box9{
  position: absolute;
  left: 705px;
  top: 2230px;
  background: #FFFFFF;
  box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
  border-radius: 16px;
}
.box10{
  position: absolute;
  left: 300px;
  top: 2280px;
  background: #FFFFFF;
  box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
  border-radius: 16px;
}
.button7{
  background:#744FC6;
      padding: 7px 22px;
      margin: 0 0 0 15px;
      border-radius: 8px;
      border:pink;
      font-family: sans-serif;
      border: 1px solid #744FC6;
      box-sizing: border-box;
      color: white;
      position: absolute;
      top: 2420px;
      left: 610px;
      font-size: 13px;
      line-height: 25px;
      width: 137px;
      height: 40px;
}
.stack2{
  position: absolute;
  top: 2550px;
  left: 130px;
}
.stack3{
  position: absolute;
  top: 2585px;
  left: 130px;
}
.karyaku2{
  position: absolute;
  top: 2650px;
  left: 130px;
  font-family: sans-serif;
  font-size: 14px;
}
.icona{
  position: absolute;
  top: 2750px;
  left: 130px;
}
.iconb{
  position: absolute;
  top: 2750px;
  left: 170px;
}

 .iconc{
  position: absolute;
  top: 2750px;
  left: 210px;
}
.icond{
  position: absolute;
  top: 2750px;
  left: 250px;
}
.textku{
  position: absolute;
  top: 2570px;
  left: 500px;
  font-weight: bold;
  font-family: nonito sans;
  font-size: 16px;
}
.baris1
{
  line-height: 0.2cm;
  font-size: 13px;
  font-family: nonito sans;
  position: absolute;
  top: 2610px;
  left: 500px;
}
.textku1{
  position: absolute;
  top: 2570px;
  left: 690px;
  font-weight: bold;
  font-family: nonito sans;
  font-size: 16px;
}
.baris2
{
  line-height: 0.2cm;
  font-size: 13px;
  font-family: nonito sans;
  position: absolute;
  top: 2610px;
  left: 690px;
}
.textku3{
  position: absolute;
  top: 2570px;
  left: 990px;
  font-weight: bold;
  font-family: nonito sans;
  font-size: 16px;
}
.baris3
{
  line-height: 0.2cm;
  font-size: 13px;
  font-family: nonito sans;
  position: absolute;
  top: 2610px;
  left: 990px;
}
.boxdown{
  position: absolute;
  top: 265px;
  right: -180px;
  background: #838383;
  margin-top: 5px;
}
.tulisanD{
  position: absolute;
  left: 120px;
  font-size: smaller;
}
